img {
/*
    width: 320px; 

    height: 180px; ;
*/

    max-width: 1080px;  /*comando sem altera a proporção*/
    height: auto;
    border-radius: 90%; /*aredonda as bordas da imagens*/
    border: px solid #008000;/*colocar borda na imagem*/
    opacity: 0.5; /*deixa a imagem o paca*/
    
}